.des-cont-change #rk-task-des{
    left: 0% !important;
}

#rk-task-des{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    transition: left 1s, top 1s, height 1s;
    box-shadow: 0 0 4px rgba(43, 43, 43, 0.59);
}

#register-page{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

#login-page{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.task-btn{
    position: relative;
}

.task-btn i{
    display: none;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {

    @keyframes animate {
        0%{
            top: 70%;
            height: 30%;
        }
        50%{
            top: 0;
            height: 100%;
        }
        100%{
            top: 0;
            height: 30%;
        }
    }

    @keyframes animate-reverse {
        0%{
            top: 0;
            height: 30%;
        }
        50%{
            top: 0;
            height: 100%;
        }
        100%{
            top: 70%;
            height: 30%;
        }
    }

    .task-btn{
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }

    .task-btn i{
        display: inline;
    }

    .task-btn span{
        display: none;
    }

    #task_adder_cont {
        padding-left: 20px;
    }

    .des-cont-change #register-page{
        z-index: 1;
    }

    .des-cont-change #rk-task-des{
        animation: animate 2s;
        top: 0;
    }

    .des-cont-nonchange #rk-task-des{
        animation: animate-reverse 2s;
        top: 70%;
    }

    #rk-task-des{
        box-sizing: border-box;
        left: 0;
        height: 30%;
        width: 100%;
        font-size: .8em;
        position: absolute;
        top: 70%;
        padding-top: 5px;
        overflow: hidden;
        z-index: 2;
    }

    #register-form h2{
        margin: 10px 0px !important;
        margin-bottom: 20px !important;
    }

    #login-on-register{
        margin-top: 15px !important;
    }

    #register-btn{
        margin-top: 15px !important;
    }

    #register-page{
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 70%;
        top: 30%;
        left: 0;
        z-index: -1;
        overflow: hidden;
        transition-property: z-index;
        transition-duration: 0s;
        transition-delay: 1s;
    }
    
    #login-btn{
        margin-top: 35px !important;
    }

    #login-form h2{
        margin-bottom: 25px !important;
    }

    #login-page{
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 70%;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    #rk-task-des-cont h2{
        margin-top: 5px;
    }

    #form_cont{
        width: calc(100% - 20px);
    }
}

.my-input:focus{
    box-shadow: 0 0 0 0.25rem rgb(253 13 13 / 25%);
    border: #d8363a;
}

.gradient-hover:hover{
    background: #fccb90;
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.login_cont{
    width: 100vw;
    height: 80vh;
    margin-top: 10vh;
}

.btn-shadow {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.arrow_i{
    transition: transform 1s ease 0s;
}

.btn-shadow:hover {
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

html.wait, html.wait * {
    cursor: wait !important;
}

#hover_effect {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
}

#hover_effect i {
    font-size: 14px;
    line-height: 1.5px;
}

#hover_effect:hover {
    background-color: #0d6efd;
    color: white;
}

.task_group_pane {
    background-color: white;
    width: 100%;
    z-index: 2;
}

#tab_content {
    width: 100%;
    z-index: 2;
}

body {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    background-color: rgba(128, 144, 158, 0.4);
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #5c5c5c6e;
    width: 5px;
}

nav {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 10;
    padding-top: 15px;
}

#nav_ul {
    position: sticky;
    top: 60px;
    background-color: white;
    width: 100%;
    z-index: 10;
}

#floating_button {
    --bs-bg-opacity: 0.80;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition: width 1s, height 1s, background-color 1s, right 1s, bottom 1s;
    overflow: hidden;
    z-index: 30;
}

#floating_inner_btn {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    position: fixed;
}

#task_adder_cont {
    margin-top: 35px;
    padding-left: 50px;
}

#task_name_input {
    all: unset;
    font-size: 1.2em;
    width: calc( 100% - 40px );
}

#task_details{
    all: unset;
    font-size: 1.2em;
    width: calc( 100% - 40px );
}

#new_list::placeholder{
    color: var(--bs-gray-700);
}

input::placeholder {
    color: white;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: white;
}

input::-ms-input-placeholder {
    color: white;
}

#task_option_adder{
    position: absolute;
    bottom: 20px;
    font-size: 30px;
}

#task_option_adder button{
    all: unset;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float: left;
    margin-right: 20px;
    color: #ffffff;
    font-size: 27px;
    overflow: hidden;
    position: relative;
}

#task_option_adder button:hover{
    background-color: white;
    color: #0d6efd;
}

#task_option_adder button:nth-child(2):hover{
    box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%);
}

#task_option_adder button:nth-child(3):hover{
    box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%);
}

.btn-close-end{
    width: 17px;
    box-sizing: border-box;
    margin: 1px 2px;
    background-size: 0.7em;
    height: 17px;
    border-radius: 17px;
}

#task_option_adder button:focus{
    box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%);
}

::-webkit-datetime-edit { display: none;color: transparent !important; }
::-webkit-datetime-edit-fields-wrapper { display: none;color: transparent !important; }
::-webkit-datetime-edit-text { display: none;color: transparent !important; }
::-webkit-datetime-edit-month-field { display: none;color: transparent !important; }
::-webkit-datetime-edit-day-field { display: none;color: transparent !important; }
::-webkit-datetime-edit-year-field { display: none;color: transparent !important; }
::-webkit-inner-spin-button { display: none;color: transparent !important; }
::-webkit-calendar-picker-indicator { 
    cursor: pointer;
    opacity: 0;
    background-color: #ffffff;
    position: relative;
    left: -12px;
    color: transparent;
}

.b_w_c{
    box-sizing: border-box;
    padding-top: 7px;
    padding-left: 12px;
    height: 35px;
}

#time_input{
    all: unset;
    position: absolute;
    left: 5px;
    color: transparent !important;
    width: 100% !important;
}

#date_input{
    color: transparent !important;
}

.btn-focus-style:focus{
    box-shadow: 0 0 0 0.25rem rgb(108, 82, 190, 0.5) !important;
}

#floating_button_i{
    transition: transform 0.5s;
}

.task-card{
    height: 58px;
    overflow: hidden;
    transition: height 1s;
}

.task-button-group{
    position: absolute;
    bottom: 0px;
    right: 0;
}

.empty_img {
    width: 210px;
    height: 180px;
    margin: 0 auto;
    margin-top: 20vh;
    display: block;
    opacity: 0.5;
}

.gradient-custom-2:hover{
    opacity: 1;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.gradient-custom {
    background: #fccb90;
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.gradient-custom-2 {
    background: #fccb90;
    opacity: 0.9;
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.empty_img_text{
    margin: 20px auto;
    text-align: center;
    opacity: 0.5;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    color: gray;
}